#docs-banner {
    width: 100%;
}

.logo-icon {
    width: 50px;
    height: 50px;
}

.line-height-30 {
    line-height: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.code-area {
    white-space: normal;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    background: #F8F8FA;
    border: 1px solid #F0E8E8;
    color: #8E7474;
    overflow-x: auto!important;
}

pre {
    margin-bottom: 0;
}
pre code {
    background-color: transparent!important;
}

.docs-code-block {
    background-color: #F8F8FA;
    border: 1px solid #F0E8E8;
    padding-bottom: 0;
}

.rounded {
    margin-top: -11px;
}

.browser-support-table, .browser-support-table tr, td, th {
    border: 1px solid black;
}

.docs-content {
    padding-bottom: 0;
}

#btn-back-to-top {
    position: fixed;
    border: 2px #28b76b solid;
    border-radius: 100px;
    bottom: 40px;
    size: 10px;
    right: 10px;
    display: none;
    color: #28b76b;
  }

  .btn-warning {
    background-color: white;
    box-shadow: black;
  }

  #btn-back-to-top:hover, #btn-back-to-top:active {
    background-color: #28b76b!important;
    color: #fff;
    border: 2px #fff solid;
  }

.area{
    background: #28b76b;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    color:white;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* Create two equal columns that floats next to each other */
.contributors-column {
    float: left;
    width: 20%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .contributors-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .contributors-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    font-family: arial;
  }

  .contributors-name {
    padding: 0 10px;
    font-size: 18px;
    margin-top: 12px;
  }
  
  .contributors-title {
    color: grey;
    font-size: 15px;
    padding: 0 10px;
    height: 68px;
    overflow: hidden;
  }
  
  .contributors-card-button {
   width: 100%;
  }
  
  .contributors-card .contributors-card-button:hover, a:hover {
    opacity: 0.7;
  }

  .contributors-thank-you-container {
    text-align: center;
    line-height: 35px;
  }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .contributors-column {
        width: 100%;
    }
}


/* Loader Styles (Start)*/

.loader-div {
    text-align: center;
}
.loader {
    margin: auto;
    margin-top: 75px;
    margin-bottom: 20px;
    display: block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #28b76b;
    border-bottom: 5px solid #28b76b;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: loader-spin 2s linear infinite;
  }
  
  @-webkit-keyframes loader-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Loader Styles (Start)*/

/* Code Snippet Styles (Start) */
.hljs {
    color: #5c6370;
}
.hljs-comment, .hljs-quote {
    color: #abb2bf;
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
    color: #70a54a;
}
/* Code Snippet Styles (End) */